#user_tickets, #agent_tickets, #department_tickets_section, .my_tickets {
    position: relative;
}
  
#search_tickets, #search_deparment_tickets {
    position: absolute;
    top: 15px;
    right: 55px;
}

#form_department_tickets {
    position: relative;
}
