#user_tickets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#user_tickets > button {
    margin-top: 4px;
    margin-bottom: 4px;
}

.user_basic_infos {
    border: 1px solid rgba(26, 18, 11, 0.5);
    padding: 10px;
    margin-top: 10px;
}