/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');

* {
  font-family: 'Jost', sans-serif;
}

/* Header Styles */
header {
  background-color: #ae854f87;
  padding: 10px;
}

h1, h2{
  text-align: center;
  margin: 0;
}

/* Body Styles */
body {
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  color: #5f2c06;
  font-size: 1rem; /* Use unidades relativas para tamanhos de fonte */
  font-weight: 500;
}

/* Footer Styles */
footer {
  background-color: #ae854f87;
  color: #5f2c06;
  padding: 10px;
  text-align: center;
}

/* Signup Styles */
#signup {
  display: flex;
  justify-content: right;
}

#signup a {
  margin-right: 4px;
}

/* Link Styles */
a {
  --brown: #5f2c06; /* Define variáveis CSS para cores */
  --vinho: #721540;
  color: var(--brown); /* Use variáveis CSS para cores */
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: var(--vinho);
  text-decoration: underline;
}

span.error, div.error {
  display: block;
  background-color: #f8d7da;
  color: #721c24;
  padding: 5px;
  border: 1px solid #f5c6cb;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}

ul {
  list-style: none;
}

div.faq {
    text-align: center;
    padding: 20px;
    margin: 10px;
    border: 1px solid #721c24;

    border-radius: 4px;
    box-shadow: 2px 2px 5px #ccc;
    background-color:#f4e6cb44;
}

