/* Style for header */
header {
    background-color: #d6c197;
    color: #fff;
    padding: 10px;
  }
  
h1 {
  margin: 0;
}

/* Style for table */
table {
  border-collapse: collapse;
  margin: 20px 0;
  width: 100%;
  background-color: #f2f2f2;
}

thead {
  background-color: #d6c197;
  color: #fff;
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  font-weight:bolder;
}

/* Style for footer */
footer {
  background-color: #d6c197;
  color: #fff;
  padding: 10px;
  text-align: center;
}

#signup {
  display: flex;
  justify-content: right;
}

#signup a{
  margin-right: 4px;
}

a {
  color: #5f2c06; /* blue link color */
  text-decoration: none; /* remove underline */
  transition: color 0.2s ease-in-out; /* smooth color transition on hover */
}

a:hover {
  color: #721540; /* darker blue on hover */
  text-decoration: underline; /* underline on hover */
}
