/* Css for ticket page */

#ticketAndComments > .ticket, #ticketAndComments > .comments  {
    padding: 5px;
    border: 1px solid rgba(26, 18, 11, 0.5);
    border-radius: 2px;
    width: 500px;
}

#ticketAndComments > .ticket {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 9;
}

#ticketAndComments > .ticket input {
    text-align: center;
    overflow: auto;
}

#ticketAndComments > .ticket p {
    margin: 10px;
    padding: 0;
}

#ticketAndComments > .ticket > span {
    display: flex;
}

#ticketAndComments > .ticket > span > img{
    margin-bottom: 2px;
}

#ticketAndComments > .ticket > button{
    width: 100px;
    justify-self: center;
}

#ticketAndComments > .ticket > h1,  #ticketAndComments > .ticket > input:nth-of-type(1){
    grid-area: 1 / 1 / span 1 / span 1;
}

#ticketAndComments > .ticket > p:nth-of-type(1) {
    grid-area: 2 / 1 / span 1 / span 1;
}

#ticketAndComments > .ticket > p:nth-of-type(2) {
    grid-area: 2 / 1 / span 1 / span 1;
    text-align: right;
}

#ticketAndComments > .ticket > span:nth-of-type(1) {
    grid-area: 3 / 1 / span 1 / span 1;
}

#ticketAndComments > .ticket > span:nth-of-type(2) {
    grid-area: 4 / 1 / span 1 / span 1;
}

#ticketAndComments > .ticket > span:nth-of-type(3) {
    grid-area: 5 / 1 / span 1 / span 1;
}

#ticketAndComments > .ticket > span:nth-of-type(4) {
    grid-area: 6 / 1 / span 1 / span 1;
}

#ticketAndComments > .ticket > p:nth-of-type(3), #ticketAndComments > .ticket > input:nth-of-type(2) {
    grid-area: 7 / 1 / span 1 / span 1;
}

#ticketAndComments > .ticket > span:nth-of-type(5) {
    grid-area: 8 / 1 / span 1 / span 1;
}

#ticketAndComments > .ticket > p:nth-of-type(1)::before, #ticketAndComments > .comments > p:nth-of-type(1)::before {
    content: "Created by: ";
}

#ticketAndComments > .ticket > p:nth-of-type(2)::before, #ticketAndComments > .comments > p:nth-of-type(2)::before {
    content: "At: ";
}

#ticketAndComments > .ticket > span:nth-of-type(1) > p::before {
    content: "Status: ";
}

#ticketAndComments > .ticket > span:nth-of-type(2) > p::before {
    content: "Department: ";
}

#ticketAndComments > .ticket > span:nth-of-type(3) > p::before {
    content: "Agent: ";
}

#ticketAndComments > .ticket > span:nth-of-type(4) > p::before {
    content: "Priority: ";
}

#ticketAndComments > .ticket > p:nth-of-type(3)::before {
    content: "Text: ";
}

#ticketAndComments > .ticket > span:nth-of-type(5) > p::before {
    content: "Hashtags: ";
}

#ticketAndComments > .comments {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

#ticketAndComments > .comments > p:nth-of-type(1) {
    grid-area: 1 / 1 / span 1 / span 1;
}

#ticketAndComments > .comments > p:nth-of-type(2) {
    grid-area: 1 / 1 / span 1 / span 1;
    text-align: right;
}

#ticketAndComments > .comments > p:nth-of-type(3) {
    grid-area: 2 / 1 / span 1 / span 1;
}

#ticketAndComments > .comments {
    margin: 5px;
}


#add_comment > textarea[name = "comment"]{
    display: inline-block;

    padding: 5px;
    margin: 5px;
    border: 1px solid rgba(26, 18, 11, 0.5);

    width: 500px;
    height: 125px;
    max-height: 125px;

    background-color: #f2f2f2;

    overflow: auto;
    resize: none;
}

/* Css for ticket resume in profile and my_tickets page */

#ticketResumeSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#ticketResumeSection > .ticketResume {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    grid-template-rows: repeat(3 , minmax(0, 1fr));

    padding: 5px;
    margin: 5px;
    border: 1px solid rgba(26, 18, 11, 0.5);
    border-radius: 2px;
    width: 350px;
    height: 100px;

    overflow: hidden;
}

#ticketResumeSection > .ticketResume > header {
    grid-area: 1 / 1 / span 1 / span 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#ticketResumeSection > .ticketResume > header > h2 > a{
    display: flex;
    /* width: 210px; */
    max-width: 210px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


#ticketResumeSection > .ticketResume > p:nth-of-type(1) {
    grid-area: 2 / 1 / span 1 / span 1;
}

#ticketResumeSection > .ticketResume > p:nth-of-type(2) {
    grid-area: 3 / 1 / span 1 / span 1;
}

#ticketResumeSection > .ticketResume > header > p::before {
    content: "Status: ";
}

#ticketResumeSection > .ticketResume > p:nth-of-type(1)::before{
    content: "At: ";
}